@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	outline:none;
}
a img {
	border:none;
}
body {
	font-family:'myriad-web-pro', arial;
	font-size:14px;
	color:#000;
	background:url(../images/bg.jpg) no-repeat center 0;
	background-size:100% auto;
}
a {
	text-decoration:none;
	color:#222;
}
.text-center {
	text-align:center;
}
.categories a {
	color:#0373C1;
}
 @font-face {
 font-family:'myriad-web-pro';
 src:url('../fonts/myriad-web-pro.eot');
 src:local('mp'), url('../fonts/myriad-web-pro.ttf') format('truetype');
 font-weight:normal;
 font-style:normal;
}
h1 {
	color:#515151;
	font-size:40px;
	padding:10px 20px;
	font-weight:normal;
}
.dotline {
	background:url(../images/dotline.jpg) repeat-x 0 bottom;
}
.bottom {
	/*background:url(../images/dotline.jpg) repeat-x 0 0;*/
	padding:30px 0 20px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	height:0;
}
.container {
	max-width:982px;
	margin:0 auto;
}
.navcontainer {
	max-width:982px;
	margin:0 auto;
}
header, nav, section, article, aside, footer {
	display:block;
}
header {
	padding:25px 0;
}
.logo {
	float:left;
	margin-top:15px;
}
.topbanner {
	width:70%;
	text-align:right;
	float:right;
	line-height:0;
}
.topbanner img {
	width:100%;
}
.searchform {
	border:5px solid #e6e6e6;
	display:block;
	padding:0px;
	clear:both;
	overflow:hidden;
	background:#fff;
	margin-top:10px;
}
.search-box {
	background:#fff;
	border:0px;
	width:83%;
	font-family:arial;
	font-size:12px;
	color:#535353;
	padding:6px;
}
.searchbutton {
	border:0;
	cursor:pointer;
	background:#fff url(../images/search-icon.png) no-repeat left top;
	width:33px;
	height:27px;
	float:right;
	font-size:0;
	text-indent:-9999px;
}
.ad1 {
	max-width:727px;
	margin:0 auto;
}
.ad1 img, .right-ad2 img, .slide-show img, .right-ad3 img, .video-img img, .sps-right img, .news-thumb img, .rightad img {
	width:100%;
	display:block;
}
/***********nav**********/
nav {
	background:#7fc12c;
	clear:both;
}
.Navigation {
	background:#7fc12c;
	display:table;
	width:100%;
	list-style-type:none;
}
.Navigation li {
	float:left;
	padding:0;
	margin:0;
	font-size:14px;
	margin-left:50px;
}
.Navigation li:first-child {
	margin-left:0;
}
.Navigation li a {
	text-transform:uppercase;
	float:left;
	padding:16px 15px 14px;
	color:#fff;
	font-size:14px;
}
.Navigation li a:hover, .Navigation li.active a {
	background:#ffe167;
	color:#7fc12c;
}
.nav-right {
	float:right;
	padding-top:12px;
}
.showweather {
	background:#6a9e04;
	border-radius:12px;
	padding:10px;
	margin-top:10px;
}
.WehterTextBox {
	float:left;
	width:66%;
	background:none;
	border:1px solid #fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	margin:5px 10px 0;
	padding:8px 5px;
	color:#fff;
	font-size:13px;
	font-family:arial;
	text-transform:uppercase;
}
.show-button {
	float:left;
	width:20%;
	color:#fff;
	cursor:pointer;
	margin-left:1%;
	border:1px solid #ba1706;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	background: #ff7121; /* Old browsers */
	background: -moz-linear-gradient(top, #ff7121 0%, #d1390c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7121), color-stop(100%, #d1390c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff7121 0%, #d1390c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff7121 0%, #d1390c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff7121 0%, #d1390c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff7121 0%, #d1390c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7121', endColorstr='#d1390c', GradientType=0 ); /* IE6-9 */
padding:8px 0;
margin-top:5px;
font-weight:bold;
font-size:12px;
}
.WeatherGal img{ width:48px; height:48px; margin:5px ;}
.leftcontent {
	float:left;
	width:66%;
	font-family:arial;
	font-size:13px;
	color:#373737;
}
.sidebar {
	width:31%;
	float:right;
}
.feedsdiv {
	padding:15px 0;
}
.subscribe {
	float:left;
	margin:0 25px 0 15px;
	color:#000;
	font-family:arial;
	font-size:13px;
}
.subscribe strong {
	color:#eb4900;
	font-size:25px;
}
.subscribe a {
	text-decoration:underline;
	color:#eb4900;
}
.subscribe a:hover {
	text-decoration:none;
}
.folowtwitters {
	float:left;
	margin:0;
	color:#000;
	font-family:arial;
	font-size:13px;
}
.folowtwitters strong {
	color:#005bad;
	font-size:25px;
}
.folowtwitters a {
	text-decoration:underline;
	color:#eb4900;
}
.folowtwitters a:hover {
	text-decoration:none;
}
.menu span {
	display:none;
}
.contentarea {
	padding:10px 0;
}
.slideshow {
	position:relative;
	padding:20px;
}
.slideshow img {
	display:block;
	width:100%;
}



#alert_body {background: #ccc;

margin-top: 10px;
border-radius: 10px;
color: #ff0000;
}

.alert {
padding: 10px;
color: #ff0000;
}
.graph {
	background:#fff;
	border:8px solid #f3f3f3;
	padding:10px;
	border-radius:8px;
	/*height:478px;*/
	
overflow: hidden;
}

.module {
	padding:10px 0px 10px 0;
}
.module-title {
	border-bottom:6px solid #e6e6e6;
	padding:5px 0;
	margin:10px 0;
	font-size:22px;
	color:#6a9e04;
	font-weight:bold;
	text-transform:uppercase;
}
.InTheNews {
	background:url(../images/umberlla-icon.png) no-repeat left 4px;
	padding:0 0 8px 30px
}
.more {
	color:#eb4900;
	font-size:12px;
}
.span3 {
	width:30%;
	float:left;
}
.span35 {
	width:35%;
	float:left;
}
.span4 {
	width:40%;
	float:left;
}
.span65 {
	width:65%;
	float:left;
}
.span7 {
	width:70%;
	float:left;
}
.NewsDiv {
	float:left;
	width:28%;
	margin:10px 0 0 3.0%;
	min-height:98px;
	color:#fff;
	background:#7fc12d;
	overflow:hidden;
	padding:10px;
	font-size:12px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.NewsDiv:first-child {
	margin-left:0;
}
.thumbdiv {
	margin-bottom:8px;
	position:relative;
}
.thumbdiv img {
	float:right;
}
.description {
	text-transform:uppercase;
}
.small {
	font-size:12px;
	color:#737373;
	font-weight:normal;
}
.videotext {
	position:absolute;
	left:0;
	bottom:0;
	background:url(../images/video-text.png) no-repeat left top;
	width:55px;
	height:21px;
	cursor:pointer;
}
.newsthumb {
	float:left;
	width:16%;
}
.news-right {
	float:left;
	width:84%;
}
.news-right h3 {
	font-size:18px;
	color:#0e87da;
	font-weight:500;
}
.module .news-row {
	padding:0 15px 15px 15px;
	margin-right:-20px;
	background:url(../images/dotline.jpg) repeat-x 0 0;
	overflow:hidden;
}
.module .news-row:first-child {
	border-top:0;
}
.news-row h3 {
	font-weight:normal;
	font-size:17px;
	color:#222222;
	padding:10px 0;
}
.Sp-NewsDiv {
	float:left;
	width:20%;
	margin-right:5%;
	margin-top:15px;
}
.s-thumb img {
	display:block;
	width:100%;
	border:1px solid #ebebeb;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.Sp-NewsDiv p {
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	font-weight:500;
	padding-top:10px
}
footer {
	display:block;
	background:#8cc741;
	padding:15px 0;
	color:#fff;
	overflow:hidden;
	margin-top:20px;
	font-size:12px;
	font-family:arial; text-align:center;
}
footer span.left {
	margin-top:6px;
}
footer a {
	color:#fff;
	text-decoration:none;
	margin:0 2px;
}
footer a:hover {text-decoration:underline;}
.FieldLeft {
    float: left;
    padding-right:10px;
    position: relative;
    width: 47%;
}

.FieldLeft h3 {
	background:#e12e2e;
	font-size:15px;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	padding:5px 10px;
	margin-bottom:5px;
}
.twitter-cont {
    color: #000000;
    font-size: 12px;
    padding-bottom: 10px;
}

.FieldLeft p {
	padding-bottom:5px;
	margin:0 5px 10px;
	font-size:12px;
}

.twitterAdd {
    float: right;
    margin-top: 10px;
    width: 46%;
}

.rightad2 {
	float:right;
	width:47%;
}
.rightad2 img {
	display:block;
	width:100%;
}
.more-fields {
	color:#fff;
	background:#e12e2e url(../images/more-icon2.png) no-repeat 6px 4px;
	padding-left:10px;
	font-size:12px;
	display:block;
	font-size:14px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	padding:2px 10px;
	text-align:center;
}
.news-thumb {
	float:left;
	width:78px;
	margin-right:10px;
}
.module-inner {
	background:#000;
	padding:10px;
	color:#fff;
}
.red-title {
	background:#e12e2e;
	font-size:15px;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	padding:10px 10px 5px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
}
.module-inner h3 {
	margin-bottom:5px;
}
.smalldec {
	color:#8c8c8c;
}
.module-inner .row {
	border-bottom:1px dotted #383838;
}
.rightmodules .more-fields {
	text-align:left;
	padding:6px 10px 6px 25px;
	font-size:14px;
	background-position:10px 12px;
}
.tweet-thumb {
	float:left;
	width:48px;
	margin-right:10px;
}
.tweet-thumb img {
	width:100%;
}
.techmod h3 {
	font-weight:normal;
}
.techmod .row {
	overflow:hidden;
}
.mfg {
	padding-left:88px;
	display:block;
}
.ttg {
	padding-left:58px;
	display:block;
}
/****** comman***/
.row {
	padding:8px 0;
	border-bottom:1px solid #e6e6e6;
	line-height: 20px;
	font-size: 15px;
}
.row:after, .row:before {
	display:table;
	content:"";
}
.row:after {
	clear:both;
}
h2 {
	font-size:18px;
	color:#000a11;
}
.margin0 {
	margin:0
}
.margin5 {
	margin:5px;
}
.margin5_T {
	margin-top:5px;
}
.margin10_T {
	margin-top:10px;
}
.margin20_T {
	margin-top:20px;
}
.padding10 {
	padding:10px;
}
.padding15 {
	padding:15px;
}
.padding20 {
	padding:20px;
}
.padding10_T {
	padding-top:10px;
}
.padding20_T {
	padding-top:20px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.floatright {
	float:right;
	margin-left:10px;
}
.newsbody {
	line-height:18px;
}
.newsbody p {
	padding-bottom:10px;
}
.fashion {
	margin:20px 0;
}
.fashion-inner {
	line-height:0;
}
.fashion-inner img {
	width:100%;
}
.tabs {
	border-top:2px solid #ff3333;
	padding:0 20px;
}
.tabs:after, .tabs:before {
	display:table;
	content:"";
}
.tabs:after {
	clear:both;
}
.tabs a {
	padding:10px 15px;
	float:left;
	background:#696969;
	color:#fff;
	margin-left:2px;
}
.tabs a:hover, .tabs a.active {
	background:#ff3333;
	color:#fff;
}


@media (max-width:1100px) {

.graph img, .map, .twitterAdd img {width:100%;}
.Navigation li {margin-left:40px;}

}

@media screen (min-width:801px) and (max-width:1000px) {

.Navigation li {margin-left:25px;}

}

@media (max-width:800px) {

.Navigation li {margin-left:0;}

.sidebar {
width:auto;
float:none;
clear:both;
}
.leftcontent {
width:auto;
margin-bottom:20px;
}
 .rightad2 {
width:160px;
}

.twitterAdd img {width:auto;}

}
 @media (max-width:679px) {
.menu {
position:relative;
}
.menu span {
display:block;
float:left;
padding:17px 12px 15px;
color:#fff;
 font-weight:bold;
 text-shadow:0 2px 1px #000;
cursor:pointer;
}
.Navigation {
display:none;
}
.menu:hover ul {
display:block;
position:absolute;
left:0;
top:42px;
min-width:150px;
-moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
 z-index:2;
}
.menu:hover ul li {
float:none;
display:block;
background:#000;
margin-left:0;
}
.menu:hover ul li a {
display:block;
float:none;
padding:5px;
font-size:13px;
padding-left:15px;
}

.NewsDiv:first-child, .NewsDiv {width:27%; margin:10px 1% 0 1%;}

}
 @media (max-width:800px) {
.rightad img {
width:auto;
}
.graph img, .map {width:100%;}

}


@media (max-width:450px) {

.container {
padding: 0 5px;
}

h1 {
font-size:24px;
padding:10px;
}

.rightad2 {
width:47%;
}
.topbanner {
float:none;
text-align:center;
width:auto;
}
.span35, .span65 {float:none; width:auto;}
.NewsDiv:first-child, .NewsDiv {width:auto; float:none; margin: 10px 1.3% 0 1.3%;}
.newsthumb img, .video-img img, .sps-right img, .news-thumb img, .rightad img {
 width:100%;
 display:block;
}
}
#OpenLayers_Map_12_OpenLayers_ViewPort{height:375px !important;}
.badge {
padding: 3px 9px 2px;
font-size: 12.025px;
font-weight: bold;
white-space: nowrap;
color: #ffffff;
background-color: #999999;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}
.badge-warning {
background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge:hover {
color: #ffffff;
text-decoration: none;
cursor: pointer;
}
.weather{background:#F0F0F0;}
.forecast_weather td{padding:10px 5px;}
.forecast_weather p{line-height:20px;}
.close{cursor:pointer;}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
.table {
  width: 100%;
  margin-bottom: 18px;
}
.table-bordered {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}


.table-bordered tr:nth-child(odd) {
  background-color: #F5F5F5;
}

.fore_cast{background: #fff;
border: 8px solid #f3f3f3;
padding: 10px;
border-radius: 8px;}

#show_info div, #show_info table{ background: #fff;}
.graph_loder, #show_forecast_list,#basicMap{background:#fff url(../images/loading1.gif) no-repeat center center;min-height: 100px;}
#show_forecast_list .table{background: #fff}

.aboutus-text{
	line-height:21px; padding:10px;text-align: justify;
}
.blue{
color: #1155CC; text-decoration: underline;

}